@using WebAuthMVC.Infrastructure.Entities
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebAuthorization | @ViewBag.Title</title>
    <link rel="stylesheet" href="_Layout.cshtml.css" type="text/css" media="screen" />
</head>
<body>
<h2>@ViewBag.Title</h2>
@{
    User? user = null;
    if (ViewBag.CurrentUser != null)
    {
        user = (User) ViewBag.CurrentUser;
    }
}
@if (user != null)
{
    <div id="register_row"><a href="/Home/Index">Home</a> | <a href="/Home/Logout">Logout</a> | <a href="/Home/Account">@user.FirstName @user.LastName</a></div>
}
else
{
    <div id="register_row"><a href="/Home/Index">Home</a> | <a href="/Home/Login">Login</a></div>
}

<div>
    @RenderBody()
</div>
</body>
</html>

@await RenderSectionAsync("Scripts", false)